.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.align{
    align-items: center;
}
.inline{
    display: inline-block;
}
.text-center{
    text-align: center;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.small-i{
    font-size: 25px;
}
.medium-i{
    font-size: 40px;
}