/* CONTAINER Header e Main */
.container{
    display: flex;
    height: calc(100vh - 100px);
}

/* Debug */
.deb-col-1{
    background-color: pink;
}
.deb-col-2{
    background-color: lightgreen;
}
.deb-col-3{
    background-color: lightskyblue;
}
.deb-col-4{
    background-color: blue;
}
.deb-col-5{
    background-color: gray;
}
.deb-text-white{

}



/* HEADER */
header{
    width: 200px;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
}
/* header/LOGO */
.logo{
    height: 50px;
    padding: 10px;
}
.logo-icon{
  width: 130px;
}
.logo-box-big{
    width: 100%;
}
.logo-box-small{
    display: none;
}
.logo-box-small img{
    width: 25px;
}

/* header/NAV */
nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
}
.menu-nav-item{
    margin-bottom: 5px;
}
.nav-icon-img{
    width: 20px;
}
.nav-icon-text{
   font-size: .875rem; 
}
/* header/MENU NAV PLAYLIST */
.menu-nav-playlist h5{
    margin-bottom: 5px;
}
.menu-nav-playlist > i{
    margin-bottom: 10px;
}
.playlist li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 14px;
}

/* header/APP&USER */

/* app */
.app{
    margin-bottom: 5px;
}
.app-icon{
    width: 25px;
    display: block;
}
.app-text{
    font-size: 14px;
}
/* user */
.user{
    margin-top: 5px;
}
.user-face{
    border: solid 1px white;
    background-color: gray;
    border-radius: 50%;
    padding: 3px;
}
.user-icon{
    width: 15px;
    object-fit: cover;
}
.user-name{
    margin-left: 5px;
    font-size: 14px;
}




/* FINE HEADER */



/* MAIN */
main{
    width: calc(100% - 200px);
    height: 100%;
    /* padding-top: 50px; */
    background-color: rgb(20, 25, 34);
    overflow-y: scroll;
}
/* main/UPGRADE BAR */
.upgrade-bar{
    /* width: calc(100% - 200px); */
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
    padding-right: 20px;
    position: sticky;
    top: 0;
    right: 0;
}
.upgrade-button{
    font-size: .875rem;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: .3125rem .9375rem;
}
/* main/MAIN MENU */
.main-menu-bar{
    position: sticky;
    width: 100%;
}
.main-menu{   
    width: 60%;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* mai/ALBUM & PLAYLIST */
.section-playlist-title{
    margin-bottom: 10px;
}
.riga-album.album1{
    width: 100%;
    justify-content: space-around;
}
.box-album{
    background-color: aqua;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% / 6);
}
.cover-album{
    /* width: 150px;
    height: 150px; */
    position: relative;
    max-width: 100px;
}
.play-album{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;    
}
.play-album a > i{
    font-size: 50px;
    color: white;
}
.album1, .album2, .album3{
    margin-bottom: 20px;
}



/* .prova{
    width: 200px;
    height: 200px;
    background-color: bisque;
} */









/* FINE MAIN */


/* FOOTER */

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(40, 40, 40);
    z-index: 10;
}
.footer-side-i{
    font-size: 15px;
}
/* footer left */
.footer-left{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}
.copertina-brano{
    width: 40px;
    margin-left: 10px;
}
.nome-artista{
    margin-left: 10px;
}
.footer-left-icon i{
    margin-right: 10px;
}

/* footer middle */
/* footer middle/music bar */

.footer-middle{
    width: 40%;
}
/* music bar top */
.play-music-bar i{
    margin-left: 5px;
    margin-right: 5px;
    align-content: center;
    padding-top: 15px;
}


/* music bar bottom */
.time-song{
    padding-top: 5px;
}
.listening-time{
    width: 20%;
}
.listen-bar{
    width: 60%;
    height: 5px;
    background-color: red;
}
.total-time{
    width: 20%;
    text-align: right;
}

.listned{
    width: 20%;
    height: 5px;
    background-color: white;
}
.to-listen{
    width: 80%;
    height: 5px;
    background-color: blue;
}


/* footer right */
.footer-right{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: flex-end;
}
.footer-right i{
    margin-right: 10px;
}