/* CONTAINER Header e Main */
.container{
    display: flex;
    height: calc(100vh - 100px);
}

/* Debug */
.deb-col-1{
    background-color: pink;
}
.deb-col-2{
    background-color: green;
}
.deb-col-3{
    background-color: red;
}
.deb-text-white{

}



/* HEADER */
header{
    width: 200px;
    height: 100%;
}
/* header/LOGO */
.logo{
    height: 50px;
}
.logo-icon{
  width: 130px;
}
.logo-box-big{
    width: 100%;
    text-align: center;
}
.logo-box-small{
    display: none;
}

/* header/NAV */
.menu-nav-icon{
    
}
.nav-icon-img{
    width: 20px;
}
.nav-icon-text{
   font-size: .875rem; 
}




/* FINE HEADER */



/* MAIN */
main{
    width: calc(100% - 200px);
    height: 100%;
    padding-top: 50px;
    /* background-color: rgb(20, 25, 34) */
}
/* main/UPGRADE BAR */
.upgrade-bar{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    left: 200px;
    justify-content: center;
}
.upgrade-button{
    font-size: .875rem;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: .3125rem .9375rem;
    background-color: yellow;
}
/* FINE MAIN */


/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: gray;
}