/* CONTAINER Header e Main */
.container{
    display: flex;
    height: calc(100vh - 100px);
}

/* Debug */
.deb-col-1{
    background-color: pink;
}
.deb-col-2{
    background-color: lightgreen;
}
.deb-col-3{
    background-color: red;
}
.deb-col-4{
    background-color: blue;
}
.deb-col-5{
    background-color: gray;
}
.deb-text-white{

}



/* HEADER */
header{
    width: 200px;
    height: 100%;
    background-color: black;
    overflow-y: hidden;
}
/* header/LOGO */
.logo{
    height: 50px;
    padding: 10px;
}
.logo-icon{
  width: 130px;
}
.logo-box-big{
    width: 100%;
}
.logo-box-small{
    display: none;
}
.logo-box-small img{
    width: 25px;
}

/* header/NAV */
nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px);
}
.menu-nav-icon{
    
}
.nav-icon-img{
    width: 20px;
}
.nav-icon-text{
   font-size: .875rem; 
}
/* header/MENU NAV PLAYLIST */
.playlist li{
    list-style: none;
}

/* header/APP&USER */

/* app */

.app-icon{
    width: 30px;
    display: block;
}
/* user */
.user-face{
    border: solid 1px white;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}
.user-icon{
    width: 20px;
    object-fit: cover;
}




/* FINE HEADER */



/* MAIN */
main{
    width: calc(100% - 200px);
    height: 100%;
    /* padding-top: 50px; */
    /* background-color: rgb(20, 25, 34) */
    overflow-y: scroll;
}
/* main/UPGRADE BAR */
.upgrade-bar{
    /* width: calc(100% - 200px); */
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    justify-content: flex-end;
    padding-right: 20px;
    position: sticky;
    top: 0;
    right: 0;
}
.upgrade-button{
    font-size: .875rem;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: .3125rem .9375rem;
}
/* main/MAIN MENU */
.main-menu-bar{
    position: sticky;
    width: 100%;
}
.main-menu{
    /* position: fixed; */
    width: 100%;
    /* top: 50px; */
    /* left: 50%;
    transform: translate(-40%); */
    justify-content: space-between;
}
/* mai/MAIN PAGE */
.box-album{
    width: 400px;
    height: 400px;
    background-color: aqua;
    padding: 50px;
}
.cover-album{
    width: 150px;
    height: 150px;
    position: relative
}
.play-album{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;    
}

.play-album a > i{
    font-size: 50px;
    color: white;
}

.prova{
    width: 200px;
    height: 200px;
    background-color: bisque;
}









/* FINE MAIN */


/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background-color: gray;
    z-index: 10;
}