/* ON-HOVER ALBUM */
.cover-album:hover .play-album{
    display: block;
}
.cover-album{
    transition: filter;
}
.cover-album:hover{
    filter: grayscale(3);
    filter: brightness(50%);
}


/* ON-HOVE ELEMENTS */
.scale:hover{
    transform: scale(1.2);
}

