/* TYPOGRAPHY */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.text-col-gray{
    color: gray;
}
.text-col-white{
    color: white;
}

/* UPGRADE BAR */
.upgrade-bar a{
    text-decoration: none;
    font-size: 10px;
}